{
  "presets": [
    [ 
      "@babel/preset-env",
      { "targets": { "node": "current" } }
    ], 
    "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver", {
        "alias": {
          "@test-models": "./__tests__/test_models",
          "@constants": "./src/constants",
          "@error": "./src/error",
          "@libs": "./src/libs",
          "@rules": "./src/rules",
          "@utils": "./src/utils",
          "@resources": "./resources"
        }
      }
    ]
  ]
}