{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 130,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "printWidth": 130
      }
    }
  ]
}
