<div class="terms-index">
  <p>
    <b>Classes:</b>{{#classes}} | <a href="#{{name}}">{{name}}</a>{{/classes}}
  </p>
  <p>
    <b>Object Properties:</b>{{#relations}} | <a href="#{{name}}">{{name}}</a>{{/relations}}
  </p>
</div>